html,
body {
	height: 100%;
}
.carousel-inner > .carousel-item > img {
    width: 100%;
    /*height: auto;
    max-height: 700px;
    overflow: hidden;*/
}

#cover {
	background: #222 url('../img/index-page-background.jpg') center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	/*text-align: center;*/
	/*display: flex;
	align-items: center;*/
}

/*.navbar{ 
    background-image: none;
}*/

.navbar {
	background-color: transparent;
	height: 55px;
	/*border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
	border: none;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 0;
	margin-bottom: 0px!important;
	/*display: flex;
	align-items: center;*/
}

#home-page-sub-navbar{
	position: relative;
	display: block;
	height: 55px;
	width: 100%;
	background-color: black;
	opacity: 0.9;

}

/*.navbar-header {
	border: none!important;
}*/
#home-page-sub-navbar > form {
	position: absolute;
	margin-top: 11px;
	margin-left: 70%;
}

#home-page-sub-navbar > form > input {
	height: 25px;
	width: 250px;
	border-radius: 0.5em 0 0 0.5em;
	border: 0px;
}

/*#home-page-sub-navbar > form > span {
	display: inline-block;
	margin-left: 0px;
}
#home-page-sub-navbar > form > span > button {
	height: 32px;
	width: 100px;
	border: 0px;
	margin-left: 0;
}*/

#home-navbar-item {
	border: 0;
	font-size: 17px;
	color: white;
	-webkit-filter: brightness(195%);
    -moz-filter: brightness(195%); 
}

#home-navbar-item ul li {
	margin-left: 30px;
}


#cover-caption{
	text-align: center;
	height: calc(100% - 75px);
	display: flex;
	align-items: center;
	width: 100%;
}